/* Reset base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font e colori */
body {
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f4f8fb; /* azzurro molto chiaro */
    color: #1f2d3d;
    line-height: 1.6;
}


/* Header */
header {
    border-bottom: 1px solid #eee;
    padding: 40px 20px;
}

.header-container {
    max-width: 900px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 25px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #1e88e5; /* blu elegante */
}


.header-text h1 {
    font-size: 2em;
    margin-bottom: 5px;
}

.header-text p {
    font-size: 1em;
    color: #555;
}

/* Main container */
main {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

/* Sezioni */
section {
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

section h2 {
    font-size: 1.6em;
    margin-bottom: 15px;
    color: #1e88e5; /* blu sanitario */
}


/* Paragrafi */
p {
    margin-bottom: 15px;
    font-size: 1em;
}

/* Liste */
ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 12px;
}

/* Link */
a {
    color: #1e88e5;
    text-decoration: none;
}

a:hover {
    color: #1565c0;
    text-decoration: underline;
}


/* Pubblicazioni */
.pub-description {
    font-size: 0.95em;
    color: #555;
    margin-top: 3px;
}

/* Responsive */
@media (max-width: 600px) {
    .header-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #1e88e5; /* blu elegante */
}

}

.map-container {
    margin-top: 20px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}